body {color: #262626; font-family: "Montserrat", sans-serif;}
main { background: url("background.png") no-repeat center center; background-size: cover;}
a {color: #262626;}
p {margin: 0;}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
}
.welcome {display: flex; justify-content: center; padding: 45px 0 0;}
.welcome p {font-size: 1.2rem; font-weight: 300;width: 70%; text-align: center;}
.contact {text-align: center;}
.contact span {font-weight: 700;}
.seperator {border: 1px solid #20206f; width: 9%; margin: 45px 0;}
.construction h1 {color: #20206f; font-size: 2.2rem; font-weight: 900;}

@media screen and (max-width: 576px) {
    .container {height: auto; padding: 30px 15px;}
    .welcome {padding: 30px 0 0;}
    .welcome p {width: 100%; text-align: justify;}
    .contact {text-align: justify;}
    .seperator {width: 50%; margin: 30px}
    .construction h1 {text-align: center; font-size: 2rem;}
}
